<configuration>
	<dllmap os="linux" dll="monoscript.dll" target="monoscript.so"/>
	<dllmap os="linux" dll="server.dll" target="server.so"/>
	<dllmap os="linux" dll="client.dll" target="client.so"/>
        
	<dllmap os="osx" dll="monoscript.dll" target="monoscript.dylib"/>
	<dllmap os="osx" dll="server.dll" target="server.dylib"/>
	<dllmap os="osx" dll="client.dll" target="client.dylib"/>
</configuration>
